Welcome to {{ env('SMTP_FROM_NAME', 'ACL API') }}!

Hi {{ user.full_name }},

Thank you for registering! Please verify your email address by visiting the link below:

{{ verificationUrl }}

This link will expire in 24 hours.

If you didn't create an account, you can safely ignore this email.

Best regards,
{{ env('SMTP_FROM_NAME', 'ACL API') }} Team
